<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= planet.name %></title>
</head>
<body>
    <a href="/planets/<%= planet._id %>"> Back to <%= planet.name %></a>
    <h1>Edit <%= planet.name %>!</h1>
    <form action="/planets/<%= planet._id %>?_method=PUT" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= planet.name %>">

        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="3" ><%= planet.description %></textarea>

        <label for="number-of-moons">Number of Moons:</label>
        <input type="number" name="numberOfMoons" id="number-of-moons" value="<%= planet.numberOfMoons %>">

        <label for="has-rings">Has Rings?</label>
        <input type="checkbox" name="hasRings" id="has-rings" <% if(planet.hasRings) { %> checked <% } %>>

        <button type="submit">Update <%= planet.name %></button>
    </form>
</body>
</html>